.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECECEC; /* Ensure the background color is consistent */
    width: 100%;
    min-height: 100vh;
}

.content {
    width: 100%;
    margin: 0;
    padding-top: 120px; /* Adjust padding to account for fixed header */
    padding-bottom: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}