<h1>Transactions</h1>

<% if @customer %>
  <%= link_to 'New Transaction', new_customer_transaction_path(@customer) %>
<% else %>
  <p>customer not found. Please select a valid customer.</p>
<% end %>

<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= link_to transaction.transaction_id, customer_transaction_path(@customer, transaction) %>
      - Amount: <%= transaction.amount %>
      <%= link_to 'Delete', customer_transaction_path(@customer, transaction), method: :delete, data: { confirm: 'Are you sure?' } %> |
    </li>
  <% end %>
</ul>
