<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>
  <p>
    <% if item.image.attached? %>
      <%= image_tag(item.image, style:"width:200px;") %>
    <% end %>
  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

</div>
