<%= form_with(model: refund_request) do |form| %>
  <% if refund_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(refund_request.errors.count, "error") %> prohibited this refund_request from being saved:</h2>

      <ul>
        <% refund_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
