<h1>Editing refund request</h1>

<%= render "form", refund_request: @refund_request %>

<br>

<div>
  <%= link_to "Show this refund request", @refund_request %> |
  <%= link_to "Back to refund requests", refund_requests_path %>
</div>
