<p style="color: green"><%= notice %></p>

<h1>Refund requests</h1>

<div id="refund_requests">
  <% @refund_requests.each do |refund_request| %>
    <%= render refund_request %>
    <p>
      <%= link_to "Show this refund request", refund_request %>
    </p>
  <% end %>
</div>

<%= link_to "New refund request", new_refund_request_path %>
