.header {
    background: #FFF;
    padding: 1rem 0;
    position: relative;
}

.header h1 {
    margin: 0;
    font-size: 1.4rem
}

.screen {
    width: 100vw;
}

.title {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    padding-left: 1rem;
    margin: 10px;
}

.subtitle {
    font-size: 1rem;
    text-align: left;
    padding-left: 1rem;
    margin: 10px;
}

.paymentLabel {
    margin-left: 1rem;
    font-weight: bold;
    text-align: left;
}

.box {
    background: #fff;
    box-sizing: border-box;
    padding: 0.8rem 1.2rem;
    margin-bottom: 1rem;
}

.label {
    color: var(--text-light);
    text-align: left;
    font-weight: 500;
    margin: 0;
}

.amount {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: right;
    margin: 0;
}

.box p {
    margin: 2px 0;
}

.propertyItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property {
    text-align: right;
    font-weight: 600;
}

.transactionID {
    text-align: left;
    font-weight: 600;
}

.refundInfo {
    text-align: left;
    padding-top: 0.8rem;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.refundLabel {
    font-weight: 600;
    color: var(--text-light);
    margin: 0 1.2rem;
    text-align: left;
}

.refundDetails {
    font-size: 1rem;
    text-align: left;
}

.refundInfoItem {
    margin-bottom: 1rem;
}

.refundAmount {
    margin: 1.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.refundAmount h3 {
    font-size: 1.4rem;
    margin: 2px 0;
}

.buttons {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem; 
    width: 100vw;
    font-size: 1.4rem;
}

.decline {
    font-size: 1.4rem;
    background: var(--secondary); 
    padding: 1rem 0;
    box-sizing: border-box;
    border-radius: 8px;
    flex: 1; 
}

.accept {
    font-size: 1.4rem;
    border: none;
    background: var(--primary); 
    color: #fff;
    padding: 1rem 0;
    box-sizing: border-box;
    border-radius: 8px;
    flex: 1; 
}
