<h1>Transactions</h1>

<% if @user %>
  <%= link_to 'New Transaction', new_user_transaction_path(@user) %>
<% else %>
  <p>User not found. Please select a valid user.</p>
<% end %>

<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <% if transaction.present? && transaction.id.present? %>
        <% if @user %>
          <%= link_to transaction.transaction_id, user_transaction_path(@user, transaction) %>
        <% else %>
          <%= link_to transaction.transaction_id, transaction_path(transaction) %>
        <% end %>
      <% else %>
        <p>Transaction data not available.</p>
      <% end %>
    </li>
  <% end %>
</ul>
