<h1> Transactions </h1>
<%= link_to 'New Transaction', new_user_transaction_path(@user) %>
<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= link_to transaction.transaction_id, user_transaction_path(@user, transaction) %>
      - Amount: <%= transaction.amount %>
    </li>
  <% end %>
</ul>
<%= link_to 'Back to Users', users_path %>
