<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer:</strong>
    <%= customer.customer_id %>
  </p>

  <p>
    <strong>Phone num:</strong>
    <%= customer.phone_num %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

</div>
