.screen {
    width: 100%;
    padding-bottom: 6rem;
}

.backWrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
}

.backButton {
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.content {
    box-sizing: border-box;
    width: 100%;
    padding: 0 1.8rem;
}

.instructions {
    text-align: left;
}

.instructions h1 {
    font-size: 1.6rem;
}

.instructions p {
    font-size: 1.1rem;
}

.browseFileButton {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.upload_button {
    background: none;
    border: 2px dashed var(--primary);
    color: var(--text-light);
    padding: 3rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cameraButton {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;

}

.camera_button {
    background-color: var(--background);
    color: var(--background);
    padding: 0 2rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.chooseAnother_button {
    background-color: #fff;
    color: var(--primary);
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.continue_button {
    background-color: var(--primary);
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    
}

.label {
    color: var(--background);
    font-weight: 600;
    font-size: 0.1rem;
}

.fullScreenCamera {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.capture_button {
    background-color: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 14px;
    border-radius: 999px;
    height: 84px;
    width: 84px;
}

.close_button {
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: var(--primary);
    color: #fff;
    height: 64px;
    width: 64px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 4px;
    text-align: center;
}

.image_preview {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.image_preview img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    height: 30vh;
    object-position: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}
