.screen {
    margin-top: 75px;
}

.option {
    text-align: left;
    background: #fff;
    padding: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.option p {
    margin: 0;
    font-weight: 600;
}



.backIcon {
    font-size: 2rem;
    box-sizing: border-box;
}

.timePicker {
    width: 33%;

}

.timePicker fieldset {
    border: none;

}

.timePicker input {
    text-align: right;
    color: var(--text-light);
    cursor: pointer !important; 


}




