.main {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: var(--background);
    z-index: 99;
}

.main h2 {
    margin: 0;
    font-size: var(--navTitle);
    color: var(--text-light);
}

.main span {
    color: var(--primary);
}

.icon {
    font-size: 2rem;
    color: var(--text-light);
}