.main {
    background: #fff;
    width: 100%;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    margin-top: 20px;
}

.title {
    margin: 0;
    margin-bottom: 8px;
    text-align: left;
    font-size: 0.9rem;
}

