.keypadContainer {
  box-sizing: border-box;
  width: 100%;
  height: 54vh;
  position: fixed;
  bottom: 0;
  background: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.toolbar {
  width: 100%;
  height: 3rem;
  background: #dec0bd;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toolbarButton {
  margin: 0 18px;
  background: none;
  cursor: pointer;
  border: none;
}


.keypadRow {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.flex1Element {
  flex: 1;
}

.flex2Element {
  flex: 2;
}

.flex3Element {
  flex: 3;
}

.keypadColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.button {
  width: 100%;
  height: 100%;
  background-color: #Ffff;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.button:hover {
  background-color: #bbb;
}

.button:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: #919191;
}

.button:disabled:hover {
  background-color: #e0e0e0; /* Ensure no hover effect for disabled buttons */
}

.zeroButton {
  width: 100%;
  height: 100%;
  background-color: #Ffff;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.equalButton {
  width: 100%;
  height: 100%;
  background-color: #FD5A77;
  color: #ffff;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}