.menuItem {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.menuItem:last-child {
    border-bottom: none;
}

.itemImage {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.itemName {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.itemPrice {
    font-size: 16px;
    margin-top: 5px;
    color: gray;
    text-align: left;
}

.actions {
    display: flex;
    align-items: center;
}

.favoriteButton {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    padding-top: 5px;
    text-align: center;
    font-size: 24px;
    color: var(--text-light);
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.favouriteButtonSelected {
    color: #fff;
    background: #eed231;
    border-color: #eed231;
}

.addButton,
.editButton {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    padding-top: 5px;
    text-align: center;
}

.addButton {
    background-color: #FD5A77;
    color: white;
}



.editButton {
    background-color: var(--primary);
    color: white;
}

