.content {
    padding: 1.6rem 0 5.5rem 0;
    
}

.monthInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.monthInfo p {
    margin: 2px 0;
}

.dayInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 12px;
}

.dayInfo p {
    margin: 2px 0;
}

.refundRequestsButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.9rem 1rem;
    width: 100%;
    margin: 1rem 0;
    background: #fff;
    border: none;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;

}

.refundButtonContent p {
    font-size: 1rem;
    font-weight: 700;
}
.refundButtonContent {
    display: flex;
    align-items: center;
    gap: 12px;
}

.refundButtonBadge {
    width: 22px;
    height: 22px;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
}