.monthInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.monthInfo p {
    margin: 2px 0;
}

.dayInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 12px;
}

.dayInfo p {
    margin: 2px 0;
}

.noTransactions {
    color: var(--text-light);
    margin: 3.6rem 0;
}

.noTransactions h3 {
    margin: 4px 0;
}