.main {
    background-image: url(../../assets/login-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 36vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem 2rem;
    color: #fff;
    
}

.title {
    margin: 0;
    font-size: 1.2rem;
}


