.main {
    height: 65%;
    margin: 14px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100%;
    align-items: center;
}

.label {
    font-size: 0.7rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

