.main {
    background: #fff;
    width: 100%;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    padding: 0.8rem 1rem;
    text-align: left;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount {
    margin: 6px 0;
    text-align: right;
    font-size: 1rem;
}

.amount span {
    font-size: 1.3rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timestamp {
    font-size: 0.8rem;
    font-weight: 600;
}