.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ECECEC; /* Ensure the background color is consistent */
    width: 100%;
    min-height: 100vh;
}

.content {
    width: 100%;
    margin: 0;
    padding-top: 70px; /* Adjust padding to account for fixed header */
    padding-bottom: 50px;
}

.label {
    font-weight: 500;
    color: var(--text-light);
}

.sectionTitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.paymentTitle {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
}

.fullWidthSection {
    width: 100%;
    background-color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.section {
    margin-bottom: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.amount {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.prefix {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.input {
    width: 95%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid #FD5A77;
}

.charCount {
    text-align: right;
    font-size: 0.75rem;
    color: #888;
    margin-top: 0.25rem;
}

.submitButton {
    width: 95%;
    max-width: 400px;
    padding: 1rem;
    background-color: #FD5A77;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.5rem;
}

.submitButton:hover {
    background-color: #e04e63;
}

.disabledButton {
    background-color: #CCCCCC;
    color: #888888;
    cursor: not-allowed;
}

.disabledButton:hover {
    background-color: #CCCCCC;
}

.submittedMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: green;
    font-size: 1rem;
}

.successIcon {
    margin-right: 0.5rem;
}
